@import 'styles/settings';

.HeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  
  margin-top: 64px!important;
  margin-bottom: 32px!important;

  h2 {
    font-size: 48px;
  }

  p {
    font-size: 20px;
  }
}
