.NavbarContainer {

  height: 60px;

  background: #fff;
}

.NavbarItem {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  font-size: 1.5rem;

  cursor: pointer;
}
